[buildout]
develop = .
parts =
    test
    zopepy
    docs
    coverage-test
    coverage-report

unzip = true


[test]
recipe = zc.recipe.testrunner
eggs = Products.GenericSetup


[zopepy]
recipe = zc.recipe.egg
eggs =
    Zope2
    Products.GenericSetup
interpreter = zopepy
scripts = zopepy


[docs]
recipe = zc.recipe.egg
eggs = Sphinx

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '${buildout:directory}/coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
arguments = ('coverage', 'coverage/report')
